{% extends "main.html" %}

{% block title %}Modifica Password{% endblock %}

{% block content %}

    <!-- File for changing password -->

    <div class="container col-lg-8 col-lg-offset-2">

        <form onsubmit="return onClickChangePassword()" action="/change_password" method="post">

            <div class="row">
                <legend><h3>Cambia Password</h3></legend>
                <label for="password">Nuova Password</label>
                <input id="password" name="password" type="password" placeholder="Es: 123Pwd324" required>

                {% if user_password_changed %}
                    <h3>Password modificata</h3>
                    <div>
                        <a href="/account">
                            <button class="btn btn-primary" id="user_profile" type="button">Profilo utente</button>
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="alert alert-danger" role="alert" style="display: none">
                <p>
                    <strong>Impossibile cambiare la password</strong><br/>
                    <span> La password deve contenere almeno 5 caratteri </span>
                </p>
            </div>

            <div class="row">
                <button class="btn btn-primary" type=submit>Cambia Password</button>
            </div>
        </form>

    </div>

    <script type="text/javascript">

        function onClickChangePassword() {

            var password = document.getElementById('password').value;
            var error = document.getElementById('errors-event');

            if (password.length < 5) {
                error.style.display = "block";
                return false;
            }
            else {
                error.style.display = "none";
                return true;
            }
        }

    </script>

{% endblock %}
