{% extends "main.html" %}

{% block title %}Modifica Password{% endblock %}

{% block content %}

  <!-- File per la modifica della password -->



  <div id="main-content">
  <div id="setChangePassword">

    <form id="inputData" onsubmit="return onClickChangePassword()" action="/change_password" method="post">

        <fieldset>
          <legend>Cambia Password</legend>
          <ol>
            <li>
             <label for="password">Nuova Password</label>
             <input id="password" name="password" type="password"  placeholder="Es: 12New324"  required>
            </li>

                 {% if user_password_changed %}
                    <h3>Password modificata</h3>
                     <div id="user_profile">
                     <a href="/account">
                        <button id="user_profile" type="button">User profile</button>
                     </a>
                </div>
                 {% endif %}

          </ol>
        </fieldset>

        <div id="errors-event" class="alert alert-danger" role="alert" style="display: none">
            <p>
            <strong id="error_strong">Impossibile cambiare la password</strong><br/>
            <span id="error_span"> La password deve contenere almeno 5 caratteri </span>
            </p>
        </div>


        <fieldset>
          <button type=submit>Cambia Password</button>
        </fieldset>
    </form>

  </div>
  </div> <!-- main-content -->

<script type="text/javascript">

function onClickChangePassword(){

    var password = document.getElementById('password').value;
    var error = document.getElementById('errors-event');

    if (password.length < 5){
        error.style.display = "block";
        return false;
    }
    else{
      error.style.display = "none";
      return true;
    }

}

</script>

{% endblock %}
