{% extends "main.html" %}

{% block title %}Modifica Utente{% endblock %}

{% block content %}

    <!-- File for profile editing -->

    <div class="container col-lg-8 col-lg-offset-2">
        <form enctype="multipart/form-data"
              action="/edit_profile" method="post">

            <fieldset>
                <legend><h3>I tuoi dati</h3></legend>
                <ol>
                    <li>
                        <label for="username">Name</label>
                        <input class="input-group" id="username" name="username" type="text"
                               value="{{ user.username }}"
                               placeholder="Il tuo Username" required>
                    </li>
                    <li>
                        <label for="fileUser">Immagine profilo</label>
                        <input type="file" name="fileUser" onchange="onFileSelectedUser(event)">
                        <div class="thumbnail">
                            <img id="myimageUser"
                                    {% if usr_image %}
                                 src="{{ usr_image }}">
                                    {% endif %}
                        </div>
                    </li>
                </ol>
            </fieldset>

            <script>
                // collects data
                var data = {{ js_data|safe }};
            </script>

            {% if user.address %}
                <script>
                    var province = document.getElementById("province");
                    usr_province = data["province"];
                    var region = document.getElementById("region");
                    usr_region = data["region"];

                    for (var i = 0; i < province.options.length; i++) {
                        if (province.options[i].value == usr_province) {
                            province.options[i].selected = true;
                        }
                    }

                    for (var i = 0; i < region.options.length; i++) {
                        if (region.options[i].value == usr_region) {
                            region.options[i].selected = true;
                        }
                    }
                </script>
            {% endif %}

            <!-- get user image -->
            <script>
                function onFileSelectedUser(event) {
                    var selectedFile = event.target.files[0];
                    var reader = new FileReader();

                    var imgtag = document.getElementById("myimageUser");
                    imgtag.title = selectedFile.name;

                    reader.onload = function (event) {
                        imgtag.src = event.target.result;
                    };

                    reader.readAsDataURL(selectedFile);
                }
            </script>


            <fieldset>
                <button class="btn btn-primary btn-lg" type=submit>Conferma!</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
