{% extends "main.html" %}

{% block title %}Account{% endblock %}

{% block content %}
    <div class="container col-lg-10 col-lg-offset-1" style="padding-top: 10px;">
        {% if user_data %}
            <div class="row">
                <div class="col-lg-4">
                    {% if user_data.image != None %}
                        <img class="thumbnail" src="{{ user_data.image }}"
                        >
                    {% else %}
                        <div class="thumbnail" id="ProfileImage"></div>
                    {% endif %}
                </div>

                <div class="col-lg-6">
                    <p>
                        <strong>Nome:</strong>
                        <span>
                {% if user_data['username'] == None %}
                    -
                {% else %}
                    {{ user_data['username'] }}
                {% endif %}
                 </span>
                    </p>

                    <p>
                        <strong>E-mail:</strong>
                        <span>
                {% if user_data['email'] == None %}
                    -
                {% else %}
                    {{ user_data['email'] }}
                {% endif %}
                 </span>
                    </p>
                    <div class="form-horizontal">
                        <a class="btn btn-default" href="/edit_profile">
                            Modifica profilo
                        </a>
                        <a class="btn btn-default" href="/change_password">
                            Cambia Password
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default text-center col-lg-8 col-lg-offset-2">
                    <a class="btn btn-primary btn-sm" href="/account/api">Genera chiave API</a>
                    <b><span class="text-danger">Conserva la tua API in un luogo sicuro!</span></b>
                    {% if  user_data.API_Key == None %}
                        <h2><span class="label label-warning">Non Generata</span></h2>
                    {% else %}
                        <h2><span class="label label-success">{{ user_data.API_Key }}</span></h2>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <!-- No results -> error message -->
            <div id="noResult">
                <h1>La ricerca non ha prodotto alcun risultato. <br/>controlla i parametri inseriti e prova di
                    nuovoContatta l'amministratore</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}