{% extends "main.html" %}

{% block title %}ThermostHouse{% endblock %}

{% block content %}

    <div class="main-header">
        <div class="container">
            <div class="row">
                <h1 class="home-h1">ThermostHouse</h1>
                <p class="home-h3">Chi ci ha scelto! &#8595;</p>

                <div id="map">
                    <!-- Generazione della mappa -->
                    <script>
                        var data = {{ js_data|safe }};
                    </script>

                    <!-- Caricamento della mappa sulla pagina Web -->
                    <script type="text/javascript" src="/js/google_map_controller.js"></script>


                    <div id="mapError">
                        <!-- Messaggio di errore che viene visualizzato quando l'indirizzo "https://maps.googleapis.com/maps/api/js
                    key=AIzaSyDpQRSHed-kPo86I3VR-bBPsrTdRnnxD9w&callback=initMap" della mappa di Google non è raggiungibile -->
                        <h1 align="center">Impossibile caricare la mappa,<br/> controlla la connessione e
                            riprova più tardi.</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}