{% extends "main.html" %}

{% block title %}I miei termostati{% endblock %}

{% block content %}


    <div class="container col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="form-horizontal">
                <a class="btn btn-primary" id="reload_button" href="/thermostat">
                    <i class="fa fa-refresh"></i>
                </a>

                <a class="btn btn-primary" href="/create_thermostat">Inserisci un termostato</a>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">I miei termostati:</h3>
                </div>
                <div class="panel-body">
                    {% if thermostats_data %}
                        <div class="list-group">

                            {% for data in thermostats_data %}
                                <!-- Show thermostat data -->
                                <div class="list-group-item"
                                     action="/set_thermostat" method="get">

                                    <strong>ID:</strong>
                                    <span>
                {% if data.ID == None %}
                    -
                {% else %}
                    {{ data.ID }}
                {% endif %}
                 </span>
                                    <strong>Nome:</strong>
                                    <span>
                {% if data.name == None %}
                    -
                {% else %}
                    {{ data.name }}
                {% endif %}
                 </span>

                                    <strong>Indirizzo:</strong>
                                    <span">
                                    {% if data['address.street'] == None %}
                                        -
                                    {% else %}
                                        Via {{ data['address'].street }} {{ data['address'].number }},
                                        {{ data['address'].zip_code }}, {{ data['address'].city }},
                                        {{ data['address'].province }}, {{ data['address'].region }}
                                    {% endif %}
                                    </span>
                                    <br>
                                    <form action="/set_thermostat" method="post">
                                        <div class="input-group">

                                            <strong>Temperatura: </strong>
                                            <input class="input-sm" type="number" min="0" max="99" name="temp"
                                                   step="0.1" title="temp"
                                                   value=
                                                           {% if data['temperature'] == None %}
                                                               "0"
                                                           {% else %}
                                                               "{{ data['temperature'] }}"
                                                           {% endif %}
                                            >
                                            <strong>Isteresi: </strong>
                                            <input class="input-sm" type="number" min="0.5" max="9.9" name="hyst"
                                                   step="0.1" title="hyst"
                                                   value=
                                                           {% if data['hysteresis'] == None %}
                                                               "0.5"
                                                           {% else %}
                                                               "{{ data['hysteresis'] }}"
                                                           {% endif %}
                                            >
                                            <strong>Cold Delay: </strong>
                                            <input class="input-sm" type="number" min="0" max="9" name="cold_delay"
                                                   step="1"
                                                   title="cold_delay"
                                                   value=
                                                           {% if data['cold_delay'] == None %}
                                                               "0"
                                                           {% else %}
                                                               "{{ data['cold_delay'] }}"
                                                           {% endif %}
                                            >
                                        </div>
                                        <button class="btn btn-primary" type="submit"
                                                value="{{ data.ID }}"
                                                name="id" style="float: right;">
                                            <i class="fa fa-edit">Modifica</i>

                                        </button>
                                    </form>

                                    <form action="/delete_thermostat" method="post">
                                        <button class="btn btn-danger" type="submit"
                                                value="{{ data.ID }}"
                                                name="id" style="float: right;">
                                            <i class="glyphicon glyphicon-remove">Rimuovi</i>
                                        </button>
                                    </form>


                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            {{ thermostats_data[loop.index0].chart }}
                                        </div>
                                    </div>

                                    {% if exported and exported == data.ID %}
                                        <button class="btn btn-success" type="submit"
                                                name="id" id="export-button">
                                            <span id="export-button-message">Esportato</span>
                                            <i class="fa fa-thumbs-up"></i>
                                        </button>
                                    {% else %}
                                        <form action="/export" method="get" onsubmit="return onClickChangeButton()">
                                            <button class="btn btn-success" type="submit"
                                                    value="{{ data.ID }}" name="id" id="export-button">
                                                <span id="export-button-message">
                                                    <i class="fa fa-table" id="export-button-icon"></i>
                                                    Esporta in Sheets
                                                </span>

                                            </button>
                                        </form>
                                    {% endif %}

                                </div>

                            {% endfor %}
                        </div>
                    {% else %}
                        <!-- l'utente non ha nessun termostato -->
                        <h1 class="text-danger text-center"><span>Non hai nessun termostato.</span></h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function onClickChangeButton() {
            var export_button = $('#export-button-message');
            export_button.html('Esporto...');

            var export_button_icon = $('#export-button-icon');
            export_button_icon.removeClass('fa fa-table').addClass('fa fa-cog fa-spin');
        }
    </script>
{% endblock %}
