body {
    padding-top: 60px;
    background-color: #ffffff;
}

.snpt {
    height: 375px;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.snpt:hover {
    -webkit-box-shadow: 0 1px 1px 2px #e5e5e5;
    -moz-box-shadow: 0 1px 1px 2px #e5e5e5;
    box-shadow: 0 1px 1px 2px #e5e5e5;
}

.snpt > .snpt-img {
    width: 100%;
    height: 200px;
}

.snpt > .snpt-title > h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #3e3e3e;
    height: 45px;
}

.snpt > .snpt-title > h2 a {
    color: #3e3e3e;
}

.snpt > .snpt-title > h2 a:hover {
    text-decoration: underline;
}

.snpt > .snpt-ingredients {
    font-size: 13px;
    color: #737373;
}

.snpt > .snpt-ingredients a {
    color: #737373;
    text-decoration: none;

}

ul.square {
    list-style-type: none;
}

ul.square li:before {
    color: #999999;
    font-family: 'FontAwesome';
    content: '\f0c8';
    margin-right: 5px;
    margin-left: -15px;
    font-size: 9px;
    vertical-align: middle;
}

ul.square h4 {
    display: inline;
}

.new-recipe {
    height: 300px;
    vertical-align: middle;
    text-align: center;
}

.post-new-recipe {
    position: relative;
    top: 25%;
}

.img-container {
    width: 100%;
    height: 220px;
}

img {
    width: 100%;
    height: 100%;
}

.account-snippet {
    height: 80px;
    color: #222;
    padding: 10px;
    font-size: 18px;
}

.main-header {
    text-align: center;
    background: url(/static/img/home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
}
.home-h1 {
    color: #0f0f0f;
    font-size: 72px;
    text-shadow: 0 0 5px #222;
    padding-top: 10px;
}

/*NAVBAR CSS*/

.navbar-header img {
    max-height: 100%;
    width: 30px;
}

.navbar, .dropdown-menu {
    background: #d9d9d9;
    border: none;
}

.navbar > li > a {
    color: #337ab7;
}

/*.navbar-brand a {*/
/*color: #337ab7;*/
/*}*/

.nav > li > a /*, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li */
{
    border-bottom: 3px solid transparent;
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover /*, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover*/
{
    border-bottom: 3px solid transparent;
    background: rgba(154, 154, 154, 0.27);
}

/*.navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {*/
/*color: #fff;*/
/*}*/

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav li:hover, .nav li.active {
    border-bottom: #337ab7 3px solid;
}

.navbar-toggle .icon-bar {
    color: #fff;
    background: #000000;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/* Propietà mappa GOOGLE*/
#map {
    width: 800px;
    height: 520px;
    /* I margini sono nell'ordine: SUPERIORE, DESTRO, INFERIORE, SINISTRO (ovvero in senso orario a partire dal superiore)*/
    display: inline-block;
}

#mapError {
    /* I margini sono nell'ordine: SUPERIORE, DESTRO, INFERIORE, SINISTRO (ovvero in senso orario a partire dal superiore)*/
    margin: 220px 15px 55px 0;
}

