<script>
    function post(path, params, method) {
        //window.alert("post");
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            if (params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script>

<script>
    var profileImage;
    var fb_key = data['fb_key'];
    window.fbAsyncInit = function () {
        FB.init({
            appId: fb_key,
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.


    function getProfileImage() {
        FB.api('/me', 'GET', {fields: 'first_name,last_name,id,picture.width(150).height(150)'}, function (response) {
            {#            document.getElementById('status').innerHTML = console.log(response);#}
            {#            profileImage = response.picture.url.split('https://')[1]; //remove https to avoid any cert issues#}
            profileImage = response.picture.data.url.split('https://')[1]; //remove https to avoid any cert issues
            console.log(profileImage);
            {#            profileImage = response.picture.data.url#}

        });
    }

    function fbLogout() {
        FB.logout(function (response) {
            document.location.href = '/';
        });
    }

    function testAPI() {
        FB.api('/me?fields=name,email,id', function (response) {
            console.log('Successful login for: ' + response.email);
            //window.alert(response.name + response.email + response.id)
            post('/facebook_login', {name: response.name, email: response.email, id: response.id, image: profileImage});
        });

    }

    function fb_login() {
        FB.login(function (response) {
            if (response.authResponse) {
                console.log('Welcome!  Showing your information.... ');
                console.log(response); // dump complete info
                getProfileImage();
                testAPI();
            } else {
                //user hit cancel button
                console.log('User cancelled login or did not fully authorize.');
            }
        }, {auth_type: 'reauthenticate'}, {scope: 'public_profile,email'});
    }


    function fb_revokePermissions() {
        // Revoca dei permessi mediante chiamata all'API di facebook
        FB.api('/me/permissions', 'delete', function (response) {
            console.log(response); // true
        });

    }

    function fb_logout() {
        // logout da Facebook e dall'applicazione
        FB.logout(function (response) {
            console.log(response); //true
        });

        document.getElementById('status').innerHTML = "";
    }
</script>