{% extends "main.html" %}

{% block title %}Conferma Email{% endblock %}

{% block content %}

    <div class="container">
        <div class="text-center">
            <h1>Stato conferma email:</h1>
            {% if email_confirmed %}
                <i class="fa fa-thumbs-up fa-5x"></i>
            {% else %}
                <i class="fa fa-thumbs-down fa-5x"></i>
            {% endif %}
            <br/>
            <a href="/home">
                <button class="btn btn-primary" type="button">Home</button>
            </a>
        </div>
    </div>

{% endblock %}