{% extends "main.html" %}

{% block title %}Registrazione{% endblock %}

{% block content %}
    <div class="container col-lg-offset-3 col-lg-6" style="padding-top: 5px">
        <div class="panel panel-primary">

            <div class="panel-heading">Register</div>
            <div class="panel-body">

                <form class="form-horizontal" id="register_form" method="post" action="/register">
                    <div class="form-group">
                        <label for="user_email" class="col-lg-3 control-label">Email</label>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" id="user_email" name="user_email"
                                   placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-lg-3 control-label">Name</label>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" id="name" name="name" placeholder="Full Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pass" class="col-lg-3 control-label">Password</label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="pass" name="pass"
                                   placeholder="Choose Password">
                        </div>
                    </div>
                </form>

                <div id="ajax-errors" class="alert alert-danger" role="alert" style="display: none;">
                    <p><strong>Whooops!</strong></p>
                    <span>Something went wrong!</span>
                </div>

            </div>
            <div class="panel-footer clearfix">
                <button class="btn btn-primary" type="button" id="register-button" style="float: right;">
                    <span id="register-button-message">Register</span>
                    <i id="register-button-icon" class="fa fa-arrow-right"></i>
                </button>
            </div>


        </div>
    </div>

{% endblock %}