{% extends "main.html" %}

{% block title %}Registered Successfully{% endblock %}

{% block content %}

    <div class="container">
        <div class="text-center">
            <p>
                <i class="fa fa-thumbs-up fa-5x"></i>
            </p>
            <p>
                <strong>Please confirm the email by clicking the link we just sent you.</strong>
            </p>
            <a href="/">
                <button class="btn btn-primary" type="button">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>Home</span>
                </button>
            </a>
        </div>
    </div>

{% endblock %}