<nav class="container-fluid">
    <div class="navbar navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container" style="overflow: inherit; ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#                <a class="navbar-brand" href="/">ThermostHouse</a>#}
                <a class="navbar-brand" href="/">
                    <img style="float: left; "
                         src="/static/img/thermosthouse_logo.png"
                         alt="ThermostHouse"><b>ThermostHouse</b>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar" class="navbar-collapse collapse">
                {#            <form class="navbar-form navbar-left" action="/search">#}
                {#                <div class="form-group input-group">#}
                {#                    <input type="text" class="form-control" name="q" placeholder="Search recipes">#}
                {#                    <span class="input-group-btn">#}
                {#                        <button type="submit" class="btn btn-primary">#}
                {#                            <i class="fa fa-search"></i>#}
                {#                        </button>#}
                {#                        </span>#}
                {#                </div>#}
                {#            </form>#}
                <ul class="nav nav-active navbar-nav">
                    <li class="active">
                        <a href="/home" class="">Home</a>
                    </li>
                    <li><a href="/thermostat">Termostati</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px; word-spacing: 1px;">
                    {% if user %}
                        <li>
                            <a class="nav" href="/account">
                                <div class="glyphicon glyphicon-user">
                                    {% if user.username|length <= 20 %}
                                        {{ user.username }}
                                    {% else %}
                                        {{ user.username[:20] }}
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="nav" href="/logout">
                                <div class="glyphicon glyphicon-log-out"> Sign Out</div>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav"><a href="/register">Sign Up</a></li>
                        <li class="dropdown">
                            <a href="login" class="dropdown-toggle active" data-toggle="dropdown">Sign in <b
                                    class="caret"></b></a>
                            <div class="dropdown-menu" style="padding: 12px;min-width: 300px;">

                                <div class="col-md-12">
                                    <form class="form" role="form" method="post" action="/login"
                                          accept-charset="UTF-8"
                                          id="login-nav">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-user"></i></span>
                                            <input id="email" type="email" class="form-control" name="email"
                                                   value=""
                                                   placeholder="Email Address">
                                        </div>

                                        <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-lock"></i></span>
                                            <input id="password" type="password" class="form-control"
                                                   name="password"
                                                   value="" placeholder="Password">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Sign in
                                            </button>
                                        </div>

                                        <a href="" class="btn btn-link pull-right">Forgot Password?</a>

                                        <br>
                                        <hr class="colorgraph">


                                        <a href="#" class="btn btn-facebook btn-block" onclick="fb_login()"
                                           id="logInFacebook">
                                            <i class="fa fa-facebook-official"></i> | Connect with Facebook
                                        </a>

                                        <a href="#" class="btn btn-google-plus btn-block" id="logInGoogle"
                                           onclick="window.location.href='/google_login'"><i
                                                class="fa fa-google"></i>
                                            | Connect with Google
                                        </a>

                                    </form>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
</nav>