<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ThermostHouse</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" action="/search">
                <div class="form-group input-group">
                    <input type="text" class="form-control" name="q" placeholder="Search recipes">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                        </span>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    &nbsp;<i class="fa fa-user"></i><a href="/account?user={{ user.key.urlsafe() }}">
                    {% if user.username|length <= 15 %}
                        {{ user.username }}
                    {% else %}
                        {{ user.username[:15] }}
                    {% endif %}</a>
                {% else %}
                    <li><a href="/login"><i class="fa fa-key"></i>Login</a></li>
                    <li><a href="/register"><i class="fa fa-user-circle"></i>Register</a></li>
                {% endif %}
                {#                <?php if(isLogged()): ?>#}
                {#                <li><a href="profile.php">Profile</a></li>#}
                {#                <li><a href="logout.php">Logout</a></li>#}
                {#                <?php else: ?>#}
                {#                <li><a href="/login"><i class="fa fa-key"></i>Login</a></li>#}
                {#                <li><a href="/register"><i class="fa fa-user-circle"></i>Register</a></li>#}
                {#                <?php endif; ?>#}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>